@model FinalWorkshop.ViewModels.LoginViewModel

<form method="POST" style="text-align:center">
    @Html.EditorForModel()
    <input type="submit" value="Login" />
    <div asp-validation-summary="All"></div>
</form>