@model FinalWorkshop.Models.CustomerModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit:</h2>

<h4>@Model.CompanyName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                @Html.DisplayName("Company Name")
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div class="form-group">
                @*<label asp-for="DateAdded" class="control-label"></label>*@
                <input value="@Model.DateAdded" asp-for="DateAdded" class="form-control" type="hidden" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="DateUpdate" class="control-label"></label>*@
                <input value="@DateTime.Now" asp-for="DateUpdate" class="form-control" type="hidden" />
                <span asp-validation-for="DateUpdate" class="text-danger"></span>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

